{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News list
{% endblock title %}

{% block content %}
   <h1>News list</h1>
   <h2>News in total: {{ category_news_list|length }}</h2>
   {% if is_not_subscriber %}
      <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Subscribe</a> </p>
   {% endif %}
   {% if category_news_list %}
       <table>
           <tr>
               <td>Title</td>
               <td>Categories</td>
               <td>Date</td>
               <td>Preview</td>
           </tr>
           {% for post in category_news_list %}
           <tr>
               <td>{{ post.header }}</td>
               <td>
                   {% for cat in post.categories.all %}
                      {% if forloop.revcounter0 %}
                         <a href="{% url 'category_list' cat.id %}"> {{ cat.category_name }}</a>;
                      {% else %}
                         <a href="{% url 'category_list' cat.id %}"> {{ cat.category_name }}</a>
                      {% endif %}
                   {% endfor %}
               </td>
               <td>{{ post.dateCreated|date:'d.m.Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>No news yet!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}